@mixin chld-1 {
  --char: 1rem;
  padding-top: 0vh;
  padding-bottom: 0vh;
  // margin-top: 15vh;
  max-height: 100%;
  line-height: calc(var(--char) * 5);
  font-size: calc(var(--char) * 6);
}

.left2 {
  font-family: "DM Serif Display", serif;

  width: 50%;

  word-break: keep-all;

  section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;

    :nth-child(1) {
      width: 100%;
      text-align: center;

      text-align: center;

      @media (min-width: 300px) {
        --char: 0.4rem;
      }
      @media (min-width: 720px) {
        --char: 0.6rem;
        line-height: calc(var(--char) * 7);
        font-size: calc(var(--char) * 8);
      }
      @media (min-width: 1920px) {
        --char: 1rem;
      }
      @include chld-1;
      word-break: keep-all;
    }
    :nth-child(2) {
      width: 75%;
      text-align: center;
      display: flex;
      flex-direction: column;
      @media (min-width: 300px) {
        --char: 0.4rem;
      }
      @media (min-width: 720px) {
        --char: 0.6rem;
        line-height: calc(var(--char) * 7);
        font-size: calc(var(--char) * 8);
      }
      @media (min-width: 1920px) {
        --char: 1rem;
      }
      @include chld-1;
      word-break: keep-all;
    }
  }
}
