.right2 {
  max-height: 100vh;

  width: 50%;
  @media (min-width: 300px) {
    --char: 0.4rem;
  }
  @media (min-width: 720px) {
    --char: 1rem;
  }
  border-left: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .top-right {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
  }
  .cont {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 18vh;
    width: fit-content;
  }
  .bottom-right {
    display: flex;
    justify-content: space-evenly;
    height: 50vh;
    flex-direction: row;

    :nth-child(1) {
      @media (min-width: 300px) {
        flex-direction: column;
        justify-content: space-between;
        height: fit-content;
      }
    }
  }
  .main-tp-r {
    justify-content: center;
    align-items: center;
    display: flex;

    padding-left: calc(var(--char) * 0.8);
    font-size: calc(var(--char) * 5);
    letter-spacing: calc(var(--char) * 0.8);
    font-weight: 100;
    margin-left: 5%;
    height: calc(var(--char) * 15);
    color: rgb(251, 252, 255);
    font-family: inherit;
    background-color: rgb(129, 117, 118);
    border-radius: 50%;
    aspect-ratio: 1;
    box-sizing: border-box;
    &::before {
      position: absolute;

      font-family: Arial, Helvetica, sans-serif;
      // top: 50px;
      transform: translate(calc(var(--char) * 6), calc(var(--char) * 6));

      content: "bin ein Stück aus den Rahmen ver-rückt";
      display: flex;
      color: black;
      width: 40vw;
      font-size: calc(var(--char) * 2);
      letter-spacing: 0;
      justify-content: end;
      @media (min-width: 300px) {
        --char: 0.4rem;
      }
      @media (min-width: 720px) {
        --char: 1rem;
      }
    }
  }
  .main-btm-r {
    justify-content: center;
    display: flex;
    align-items: center;
    padding-left: calc(var(--char) * 0.8);
    font-size: calc(var(--char) * 3);
    letter-spacing: calc(var(--char) * 0.8);
    font-weight: 100;
    margin: 6%;
    height: calc(var(--char) * 12);
    aspect-ratio: 1;
    font-family: inherit;
    color: rgb(251, 252, 255);
    background-color: rgb(191, 185, 185);
    border: 2px solid rgb(115, 140, 141);
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px calc(var(--char) * 1.2) #bfb9b9;
    :nth-child(1) {
    }
    :nth-child(2) {
      display: flex;

      transform: rotate(-90deg) translate(10%);
    }
    :nth-child(3) {
      transform: rotate(-90deg) translate(10%);
    }
  }
  .dot {
    // margin-right: 5%;
    display: inline-block;
    content: "";
    // margin-top: 4%;
    background-color: rgb(48, 89, 79);
    height: 3vh;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 5px solid rgb(244, 245, 250);
  }

  p {
    display: flex;
    justify-content: center;
    @media (min-width: 300px) {
      --char: 0.4rem;
    }
    @media (min-width: 720px) {
      --char: 1rem;
    }
    padding-left: calc(var(--char) * 2);
    text-align: center;
    font-size: calc(var(--char) * 3);
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    line-height: calc(var(--char) * 3.5);
    height: fit-content;
  }
}
