.top-page {
  overflow: hidden;
  font-family: "aileron";
  display: flex;
  margin: auto;
  width: 100vw;
  height: 100vh;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--char) * 8);

  .foot {
    font-size: calc(var(--char) * 2);
    text-align: center;
    background-color: rgb(215, 215, 209);
    width: 100vw;
  }
}
