.right {
  min-height: 200vh;

  width: 50%;
  @media (min-width: 300px) {
    --char: 0.4rem;
  }
  @media (min-width: 720px) {
    --char: 1rem;
  }
  border-left: 2px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: calc(var(--char) * 2);
  h1 {
    transform: translateX(-1.5vh);

    display: flex;
    align-items: center;

    font-size: calc(var(--char) * 2.5);
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;

    &::before {
      margin-right: 0.5%;
      display: inline-block;
      content: "";
      background-color: rgb(48, 89, 79);
      width: 2vh;
      aspect-ratio: 1;
      border-radius: 50%;
      border: 5px solid rgb(244, 245, 250);
    }
  }

  p {
    @media (min-width: 300px) {
      --char: 0.4rem;
    }
    @media (min-width: 720px) {
      --char: 1rem;
    }

    font-size: calc(var(--char) * 3);
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;

    line-height: calc(var(--char) * 3.5);
    min-height: 17vh;
  }
  li {
    margin-left: calc(var(--char) * 1.5);
    @media (min-width: 300px) {
      --char: 0.3rem;
    }
    @media (min-width: 720px) {
      --char: 0.8rem;
    }
    @media (min-width: 1920px) {
      --char: 1rem;
    }
    // padding-left: calc(var(--char) * 2);

    font-size: calc(var(--char) * 3);
    font-family: Arial, Helvetica, sans-serif;

    line-height: calc(var(--char) * 4);
    // list-style: none;
  }
}
