@mixin chld-3 {
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  // transform: translate(1%, -2vh);
}
.middle {
  @media (min-width: 300px) {
    padding-left: 0;
    transform: translatex(calc(var(--char) * -30));
    --char: 0.15rem;
    margin-top: 10vh;
  }
  @media (min-width: 720px) {
    padding-left: 0;
    --char: 0.3rem;
    transform: translatex(calc(var(--char) * -35));
    margin-top: 10vh;
    align-items: flex-start;
  }
  @media (min-width: 1920px) {
    padding-left: 0;
    --char: 1rem;
    transform: translatex(calc(var(--char) * -10));
    margin-top: 10vh;
  }
  @include reset-list;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  img {
    @media (min-width: 300px) {
      --char: 0.2rem;
    }
    @media (min-width: 720px) {
      --char: 0.5rem;
    }
    @media (min-width: 1920px) {
      --char: 0.8rem;
    }
    width: calc(var(--char) * 60);
    @include chld-3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    aspect-ratio: 1;
    border-radius: 50%;

    width: calc(var(--char) * 50);
    content: "";
  }
}
