.middle {
  @media (min-width: 300px) {
    padding-left: 0;
    transform: translatex(-32vw);
    margin-top: 10vh;
  }
  @media (min-width: 720px) {
    padding-left: 0;
    transform: translatex(-20vw);
    margin-top: 10vh;
  }
  @media (min-width: 1920px) {
    padding-left: 0;
    transform: translatex(-10vw);
    margin-top: 10vh;
  }

  @include reset-list;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    @media (min-width: 300px) {
      aspect-ratio: 1;
      object-fit: cover;
      border-radius: 50%;
      transform: translate(1vw, -2vh);
      --char: 0.1rem;
    }
    @media (min-width: 720px) {
      aspect-ratio: 1;
      object-fit: cover;
      border-radius: 50%;
      transform: translate(1vw, -2vh);
      --char: 0.8rem;
    }
    @media (min-width: 1920px) {
      aspect-ratio: 1;
      object-fit: cover;
      border-radius: 50%;
      transform: translate(1vw, -2vh);
      --char: 1rem;
    }
    width: calc(var(--char) * 80);
  }
  &:before {
    @media (min-width: 300px) {
      z-index: 1;
      border-radius: 50%;
      aspect-ratio: 1;
      background-color: rgb(97, 201, 168);
      display: block;
      opacity: 50%;
      position: absolute;
      left: 50;
      top: 50;
      transform: translate(-3vw, 1vh);
      --char: 0.1rem;
    }
    @media (min-width: 720px) {
      z-index: 1;

      border-radius: 50%;
      aspect-ratio: 1;
      background-color: rgb(97, 201, 168);
      display: block;
      opacity: 50%;
      position: absolute;
      left: 50;
      top: 50;
      transform: translate(-1vw, 2vh);
    }
    @media (min-width: 1920px) {
      z-index: 1;

      border-radius: 50%;
      aspect-ratio: 1;
      background-color: rgb(97, 201, 168);
      display: block;
      opacity: 50%;
      position: absolute;
      left: 50;
      top: 50;
      transform: translate(-1vw, 2vh);
    }
    width: calc(var(--char) * 80);
    content: "";
  }
}
