.right1 {
  @media (min-width: 300px) {
    --char: 0.3rem;
    transform: translateX(calc(var(--char) * -11));
    max-height: 100vh;
    margin-top: calc(var(--char) * 10);
  }
  @media (min-width: 720px) {
    --char: 0.7rem;
    transform: translateX(-0%);
    font-size: calc(var(--char) * 1);
  }
  @media (min-width: 1920px) {
    // --char: 1rem;
    transform: translateX(-0%);
    font-size: calc(var(--char) * 2);
  }
  margin-left: calc(var(--char) * 3);
  @include reset-list;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  padding: 0;
  border-left: 2px solid black;

  right: 0;
  max-height: fit-content;
  h3 {
    @media (min-width: 300px) {
      line-height: calc(var(--char) * 3);
      margin-left: calc(var(--char) * 3);
      font-size: calc(var(--char) * 2.5);
    }
    @media (min-width: 720px) {
      line-height: calc(var(--char) * 1.5);
      margin-left: calc(var(--char) * 2);
      font-size: calc(var(--char) * 2.5);
    }
    @media (min-width: 1920px) {
      line-height: calc(var(--char) * 3.5);
      margin-left: calc(var(--char) * 3);
      font-size: calc(var(--char) * 4);
    }
  }
  ul {
    list-style: inside 2px;
    word-break: break;
    padding-left: 0%;

    max-height: fit-content;

    li {
      @media (min-width: 300px) {
        line-height: calc(var(--char) * 3);
        margin-left: calc(var(--char) * 3);
        font-size: calc(var(--char) * 2.5);
      }
      @media (min-width: 720px) {
        line-height: calc(var(--char) * 2.5);
        margin-left: calc(var(--char) * 2);
        font-size: calc(var(--char) * 3);
      }
      @media (min-width: 1920px) {
        line-height: calc(var(--char) * 4);
        margin-left: calc(var(--char) * 3);
        font-size: calc(var(--char) * 4);
      }
      list-style: none;

      font-family: Arial, Helvetica, sans-serif;

      h3::before {
        @media (min-width: 300px) {
          transform: translateX(calc(var(--char) * -1.2));
          border: calc(var(--char) * 0.8);
        }
        @media (min-width: 720px) {
          transform: translateX(calc(var(--char) * -0.3));
        }
        @media (min-width: 1920px) {
          transform: translateX(calc(var(--char) * -0.8));
        }
        margin-right: 0.5%;
        display: inline-block;
        content: "";
        background-color: rgb(48, 89, 79);
        width: 1vh;
        aspect-ratio: 1;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 1;
      }
    }
  }
}
