.right1 {
  @media (min-width: 300px) {
    transform: translateX(calc(var(--char) * -11));
    height: 80vh;
    margin-top: calc(var(--char) * 10);
  }
  @media (min-width: 1166px) {
    transform: translateX(-0vw);
  }
  margin-left: calc(var(--char) * 3);
  @include reset-list;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-size: calc(var(--char) * 2);
  padding: 0;
  border-left: 2px solid black;

  ul {
    list-style: inside 2px;
    word-break: break;
    padding-left: 0vw;
    position: relative;

    li {
      list-style: none;
      margin-left: calc(var(--char) * 3);
      font-size: calc(var(--char) * 2.5);
      font-family: Arial, Helvetica, sans-serif;
      line-height: calc(var(--char) * 3);
      h3::before {
        @media (min-width: 300px) {
          transform: translateX(calc(var(--char) * -1.2));
          border: calc(var(--char) * 0.8);
        }
        @media (min-width: 1920px) {
          transform: translateX(calc(var(--char) * -0.8));
          border: calc(var(--char) * 0.4) solid rgb(244, 245, 250);
        }
        margin-right: 0.5vw;
        display: inline-block;
        content: "";
        background-color: rgb(48, 89, 79);
        width: 1vh;
        aspect-ratio: 1;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 1;
      }
    }
  }
}
